<div class="container">

<p class="lat" style="display:none;"><%= spot.lat %></p>
<p class="lon" style="display:none;"><%= spot.lng %></p>

<h1><%= spot.name %></h1>
<img src="<%= spot.image %>" alt="<%= spot.name %>'s image">
<p><%= spot.description %></p>


<div class="photoContainer"></div>


</div>
